<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128947506644-pg15g9f9dcvfkq5jk546t65ci466n93m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128947506644-pg15g9f9dcvfkq5jk546t65ci466n93m</string>
	<key>API_KEY</key>
	<string>AIzaSyCaegRCQi5BHCD1Vneil7DcT4YT2dFkPhw</string>
	<key>GCM_SENDER_ID</key>
	<string>128947506644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hashimniane.restaurantVersion</string>
	<key>PROJECT_ID</key>
	<string>yemeksepeti-f4347</string>
	<key>STORAGE_BUCKET</key>
	<string>yemeksepeti-f4347.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128947506644:ios:3fe3ef57cc9a0308185a41</string>
</dict>
</plist>